:root {
  /** CSS DARK THEME PRIMARY COLORS */
  --color-primary-100: #2196f3;
  --color-primary-200: #50a1f5;
  --color-primary-300: #6eacf6;
  --color-primary-400: #87b8f8;
  --color-primary-500: #9dc3f9;
  --color-primary-600: #b2cffb;
  /** CSS DARK THEME SURFACE COLORS */
  --color-surface-100: #121212;
  --color-surface-200: #282828;
  --color-surface-300: #3f3f3f;
  --color-surface-400: #575757;
  --color-surface-500: #717171;
  --color-surface-600: #8b8b8b;
  /** CSS DARK THEME MIXED SURFACE COLORS */
  --color-surface-mixed-100: #191e25;
  --color-surface-mixed-200: #2e3339;
  --color-surface-mixed-300: #45494f;
  --color-surface-mixed-400: #5d6066;
  --color-surface-mixed-500: #76797e;
  --color-surface-mixed-600: #8f9296;

  /** OTHER VARIABLES **/
  --border-radius: 8px;

  
  #snackbar {
    visibility: hidden;
    min-width: 150px;
    background-color: var(--color-primary-400);
    color: var(--color-surface-mixed-100);
    text-align: center;
    font-size: small;
    border-radius: var(--border-radius);
    padding: 10px;
    position: fixed;
    z-index: 1;
    right: 30px;
    bottom: 30px;
  }

  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }

  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @keyframes fadein {
    from {
      bottom: 0;
      opacity: 0;
    }
    to {
      bottom: 30px;
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }

  @keyframes fadeout {
    from {
      bottom: 30px;
      opacity: 1;
    }
    to {
      bottom: 0;
      opacity: 0;
    }
  }
}
